{{ define "content"}}
            <h3>Swit something <div style="color: #FFB300;">{{ .You }}</div></h3>
            <form action="/auth/new_post" method="POST" id="swit">
                <textarea rows=3 name="body" required=""></textarea> <br>
                <input type=submit value="Send!">
            </form>

            <hr>
            Follow other interesting people: {{ range .Others }} <a href="/auth/{{ . }}/follow">{{ . }}</a> {{ end }}
            <hr>

            {{ range .Posts }}
            <div style="margin-bottom: 5px; background: rgba(250, 250, 250, 0.2); padding: 5px 20px 1px; border-radius: 30px; width: 80%;">
                <p>
                <h4><a href="/auth/{{ .Author }}">{{ .Author }}</a><code class="language-plaintext highlighter-yellow">  wrote</code></h4>
                {{ .Body }}<br>
                <button onclick="window.location.href='/auth/id/{{ .Id }}/like';">❤ {{ .Likes }}</button>
                </p>
            </div>
            {{ end }}
{{end}}